<!DOCTYPE html>
<html>
<head>
	<title>Map Example</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
	<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
      <script>
if ("geolocation" in navigator) {
  // Geolocation is available
  navigator.geolocation.getCurrentPosition(function(position) {
    // Get the latitude and longitude from the position object
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    // Make a GET request to the Flask route to retrieve the location data
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/location');
    xhr.setRequestHeader('Geolocation', latitude + ',' + longitude);
    xhr.onload = function() {
      var data = JSON.parse(xhr.responseText);
      console.log("Latitude: " + data.latitude + ", Longitude: " + data.longitude);
    };
    xhr.send();
  });
} else {
  // Geolocation is not available
  console.log("Geolocation is not available");
}

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Clark_University_seal.svg/500px-Clark_University_seal.svg.png" width="30" height="30" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>

      </ul>
	
    </div>
  </div>
</nav>

	<div class="container">
		<h1>Campus Guide</h1>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search maps .. (Try asking 'where is Higgins?')" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
<button class="btn btn-outline-danger rounded" type="button"><span class="bi bi-mic-fill"></span></button>
    <button class="btn btn-outline-danger rounded" type="button">Search</button>
 
  </div>
<br>
<br>
</div>
		{{ map | safe }}
	</div>
</body>
</html>
